@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #0f172a;
}

body {
  height: 100vh;
}

#__next {
  position: absolute;
  inset: 0;
}

@keyframes spinner {
  to { transform: rotate(360deg); }
}

.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top-color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spinner 1s linear infinite;
}
